#getStarted {
  /* background-color: black; */
  background-image: url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg");
  height: 100vh;
}

#landingLogo {
  margin-top: 20px;
  margin-left: 20px;
}

#signupHeading {
  color: white;
}

#containerSignUp {
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}

#signinEmail {
  margin-bottom: 5px;
}

@media only screen and (max-width: 700px) {
  #getStarted {
    background-color: black;
    background-image: none;
  }
}
