#navBar {
  display: flex;
  height: 50px;
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#landingLogos {
  width: 70px;
  margin-left: 20px;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 40px;
}

#lists {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.linkHome {
  text-decoration: none;
}

.items {
  margin-right: 20px;
}

.navbarHeading {
  color: white;
  text-decoration: none;
}

.navbarHeading:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.602);
}

#searchContainer {
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
  align-items: center;
}
#navbarSearch {
  padding: 5px;
  margin-right: 5px;
  border-radius: 4px;
  border: none;
}

#navbarBtn {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#navbarBtn:hover {
  background-color: rgba(255, 0, 0, 0.714);
}

@media (max-width: 768px) {
  #landingLogos {
    width: 50px;
    margin-left: 0px;
  }

  nav {
    margin-right: 5px;
  }

  #searchContainer {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    align-items: center;
  }

  .items {
    margin-right: 10px;
  }

  #navbarSearch {
    width: 50%;
  }

  #navbarBtn {
    padding: 5px 8px;
  }
}
